{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            <div class="posts">
                {{ if (not (eq "Articles" .Title)) }}
                <div class="page-heading">{{ .Title }}</div>
                {{ end }}

                {{ range where .Data.Pages "Title" .Title }}
                <div class="markdown">
                  <p>{{ .Content }}</p>
                </div>
                {{ end }}

                {{ $sectionTitle := .Title }}
                <ul>
                    {{ range sort .Pages "Date" "desc" }}
                      {{ if (not (eq $sectionTitle .Title)) }}
                        {{ partial "li.html" . }}
                      {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
