{{ partial "header.html" . }}
<div class="main column">
    <div class="container">
        <div class="content">
            {{ range where .Data.Pages "Title" "Home" }}
                <div class="markdown">
                {{ .Content }}
                </div>
            {{ end }}

            {{ if isset .Site.Params "latestpostcount" }}
                <div class="posts">
                {{ $nbPosts := len (where .Data.Pages "Section" "articles") }}
                {{ if gt $nbPosts 0 }}
                    <ul>
                    {{ range (first .Site.Params.latestpostcount (where .Pages "Section" "articles")) "desc" }}
                        {{ partial "li.html" . }}
                    {{ end }}
                    </ul>

                    {{ if gt $nbPosts .Site.Params.latestpostcount }}
                        <a href="./articles/" class="see-more">See more ...</a>
                    {{ end }}
                {{ end }}
                </div>
            {{ end }}

        </div>
    </div>
</div>
{{ partial "footer.html" . }}
